<?xml version="1.0" encoding="UTF-8"?>

<Context path="/manager" 
	docBase="/usr/share/tomcat9-admin/manager"
	antiResourceLocking="false" privileged="true" >

        <Valve className="org.apache.catalina.valves.RemoteAddrValve"
            allow="{{ tomcat_allowed_ip }}" />

</Context>
